/* Reset */

html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,em,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var, b,u,i,center, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td, article,aside,canvas,details,embed,figcaption,figure, footer,header,hgroup,menu,nav,output,ruby,section,summary, time,mark,audio,video{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;} body{line-height: 1;} ol,ul{list-style: none;} blockquote,q{quotes: none;} blockquote:before,blockquote:after,q:before,q:after{content: ""; content: none;} table{border-collapse: collapse; border-spacing: 0;} 

a{color: #000;text-decoration: none;}
a:visited{color: #000;}
a:hover{color: #000;}
a:focus{outline: thin dotted;}
a:hover, a:active{outline: 0;}

::-moz-selection{background: #999999; color: #fff; text-shadow: none;}
::selection{background: #999999; color: #fff; text-shadow: none;}

/***
*
*  Base Styles
*
***/

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/***
*
*  Typgraphy
*
***/

h1, h2, li, p {
	font-family: 'Helvetica', Helvetica Neue, Arial, sans-serif;
}

li, img {
	display: block;
	vertical-align: baseline;
}

a {
	color: #6D9EEB;
}

.theme-text {
	color: #6D9EEB;
}

/***
*
*  Header
*
***/

header {
	background: #EFEFEF;
	border-bottom: 1px #E5E5E5 solid;
	width: 100%;
	height: 49px;
}

	#h-left {
		float: left;
		height: 100%;
	}

		#h-logo {
			float: left;
		}

		#h-logo h1 {
			border-right: 1px #E5E5E5 solid;
			font-size: 16px;
			font-weight: bold;
			padding: 17px 27px;
		}

		#h-search-icon {
			border-right: 1px #E5E5E5 solid;
			background-image: url(../img/search.png);
			background-size: 100%;
			float: left;
			width: 50px;
			height: 100%;
		}

		#h-search-icon:hover {
			background-color: #E5E5E5;
		}

		#h-search {
			border-right: 1px #E5E5E5 solid;
			background-size: 100%;
			float: left;
			width: 350px;
			height: 100%;
		}

		#h-search input {
			background-color: #EFEFEF;
			border: 0;
			font-size: 14px;
			margin: 0;
			outline: none;
			padding: 18px 18px 17px 18px;
			width: 100%;
			height: 14px;
		}

		#h-search input:focus {
			border: 0;
			margin: 0;
			outline: none;
		}

	#h-right {
		float: right;
		padding-right: 20px;
		height: 100%;
	}

		#h-user {
			float: left;
			height: 100%;
		}

			#h-user-text {
				float: left;
				height: 100%;
			}

				#h-name, #h-logout {
					color: #333;
					font-size: 12px;
					line-height: 12px;
					text-align: right;
				}

				#h-name {
					font-weight: bold;
					padding: 11px 10px 2px 0px;
				}

				#h-logout {
					color: #666;
					padding: 2px 10px 11px 0px;
				}

		#h-avatar {
			background-image: url(../img/avatar.jpg);
			background-size: 100%;
			float: left;
			width: 50px;
			height: 100%;
		}

		#h-courses {
			background-image: url(../img/book.png);
			background-size: 100%;
			float: left;
			position: relative;
			width: 50px;
			height: 100%;
		}

			#h-course-list {
				background-color: #EFEFEF;
				border-bottom: 1px #E5E5E5 solid;
				border-right: 1px #E5E5E5 solid;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
				display: none;
				position: absolute;
					left: -191px;
					top: 50px;
				width: 240px;
			}

				#h-courses .course {
					font-size: 12px;
					overflow: hidden;
					height: 32px;
				}

				#h-courses .course:hover {
					background-color: #E5E5E5;
				}

				#h-courses .course-code {
					background-color: #E5E5E5;
					float: left;
					padding: 10px 20px;
				}

				#h-courses .winter {
					color: #999;
				}

				#h-courses .course-name {
					float: left;
					padding: 10px 20px;
				}

		#h-notification {
			background-image: url(../img/notification.png);
			background-size: 100%;
			float: left;
			position: relative;
			width: 50px;
			height: 100%;
		}

			#h-n-value {
				
			}

		#h-option {
			background-image: url(../img/gear.png);
			background-size: 100%;
			float: left;
			width: 50px;
			height: 100%;
		}

		#h-option:hover, #h-notification:hover, #h-courses:hover {
			background-color: #E5E5E5;
		}

/***
*
*  Sidebar
*
***/

#sidebar {
	float: left;
	position: relative;
	width: 228px;
	height: 100%;
}

	#s-inner-wrapper {
		float: left;
		padding: 20px;
		padding-right: 16px;
		position: relative;
		width: 180px;
		height: 100%;
	}

	#s-spine {
		border-right: 8px #E5E5E5 solid;
		background-color: white;
		float: left;
		position: relative;
		width: 4px;
		height: 100%;
	}
	
	#s-spine:hover {
		border-right: 8px #6D9EEB solid;
	}

	#sidebar li:hover {
		background-color: #F9F9F9;	
	}

	#sidebar .selected {
		background-color: #EFEFEF;
	}

	#sidebar .nav-title {
		border-bottom: 1px #E5E5E5 solid;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	#sidebar .top-tier {
		cursor: pointer;
		font-size: 14px;
		padding: 8px;
		}

	.s-primary-nav {
		font-weight: bold;
	}

	.s-course-nav, .s-custom-nav, .s-external-nav {
		margin-top: 20px;
	}

/***
*
*  Stage
*
***/

#stage {
	float: left;
	padding: 20px;
	position: relative;
	height: 100%;
	width: 10px;
}

	#st-welcome {
		margin-top: 60px;
		margin-left: 35%;
		width: 30%;
	}

	#st-welcome h2 {
		font-size: 260%;
		line-height: 140%;
		margin-bottom: 20px;
	}

	#st-welcome p {
		color: #515151;
		font-size: 105%;
		line-height: 140%;
		margin-bottom: 20px;
	}

/***
*
*  NOSCRIPT
*
***/

#no-script-wrapper {
	background-color: white;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
		left: 0;
		top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
}

#no-script {
	background-color: white;
	border: 1px #999 solid;
	margin-left: 50%;
	margin-top: 25%;
	padding: 40px;
	position: relative;
		left: -290px;
		top: -140px;
	width: 500px;
	height: 200px;
}

	#no-script h2 {
		color: #333;
		font-size: 200%;
		font-weight: bold;
		line-height: 120%;
		margin-bottom: 50px;
	}

	#no-script p {
		color: #333;
		font-size: 110%;
		line-height: 130%;
	}