				<div id="sec-courses" class="sec-center">
					<h2>Course Listing</h2>
					<p>Sed urna sapien, semper id accumsan in, interdum nec lacus. Aliquam erat volutpat. Vestibulum posuere elit quis turpis rutrum sed molestie metus pulvinar. Vivamus commodo imperdiet pellentesque. Sed facilisis elementum fermentum. Pellentesque interdum, justo nec tempus rhoncus, lectus tortor fringilla libero, id porta elit urna sed velit. Proin enim dui, pulvinar a pretium et, pharetra id nisl.</p>

					<table id="sec-courses-list" class="table table-hover table-striped table-bordered">
						<tr>
							<th>Name</th>
							<th>Course Number</th>
							<th>Description</th>
							<th>Credits</th>
						</tr>
						<tr>
							<td>Interactivity 2</td>
							<td>YSDN 2005</td>
							<td>An exploration of jQuery, narative in web and etc etc</td>
							<td>3.0</td>
						</tr>
						<tr>
							<td>Interactivity 2</td>
							<td>YSDN 2005</td>
							<td>An exploration of jQuery, narative in web and etc etc</td>
							<td>3.0</td>
						</tr>
						<tr>
							<td>Interactivity 2</td>
							<td>YSDN 2005</td>
							<td>An exploration of jQuery, narative in web and etc etc</td>
							<td>3.0</td>
						</tr>
						<tr>
							<td>Interactivity 2</td>
							<td>YSDN 2005</td>
							<td>An exploration of jQuery, narative in web and etc etc</td>
							<td>3.0</td>
						</tr>
						<tr>
							<td>Interactivity 2</td>
							<td>YSDN 2005</td>
							<td>An exploration of jQuery, narative in web and etc etc</td>
							<td>3.0</td>
						</tr>
					</table>
				</div>